body{
    background-color: white;
}

.Champ_de_texte{
    background-color: #D1D1D1;
    font-size: 65%;
    position: absolute;
    top: 40%; 
    left:25%;
    width: 50%;
    height: 25%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.selection{
    font-size: 1vw;
}

.gauche{
    position: relative;
    grid-column: 1;
}

.droite{
    position: relative;
    grid-column: 2;
}
.texte_droite{
    text-align: right;
}
.Boutton{
    position: absolute;
    top:70%;
    left:45%;
    height: 5%;
    width: 10%;
    font-size: 1vw;
}
    height: 5%;
    width: 10%;
    font-size: 1vw;
}
