body{
    background-color: white;
}

.Champ_de_texte{
    background-color: #D1D1D1;
    font-size: 1vw;
    position: absolute;
    top: 250px; 
    left: 300px;
    width: 700px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.selection{
    font-size: 1vw;
}

.gauche{
    position: relative;
    grid-column: 1;
}

.droite{
    position: relative;
    grid-column: 2;
}
.texte_droite{
    text-align: right;
}
.Boutton{
    position: absolute;
    top:400px;
    left:620px;
    font-size: 1vw;
}
